---
import { Icon } from "astro-icon";
const { title, description, takeaways, tools, liveUrl, githubUrl, bgName, ongoing } = Astro.props.projectData;
---

<div
	class="relative flex flex-col ml-[10px] mb-[10px] w-full border-[3px] border-black rounded-xl bg-[radial-gradient(#E4E4E4_1px,#F2F2F2_0)] bg-[length:5px_5px] bg-repeat lg:max-w-[460px]"
>
	<div
		class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] z-[-1]"
	>
	</div>
	<div
		class={`relative content-[''] w-4/5 aspect-[5/3] mx-auto mt-[10%] border-x-[3px] border-t-[3px] border-black ${bgName} bg-cover bg-top bg-no-repeat`}
	>
		<div
			class="absolute flex flex-row justify-between items-center left-0 right-0 bottom-0 mx-auto translate-y-[50%] max-w-[300px] max-h-[100px] w-min border-[3px] bg-white rounded-full border-black z-10"
		>
			<a
				href={liveUrl}
				class="w-8 h-8 rounded-full m-1 p-1 bg-yellow border-[2px] border-black hover:bg-yellow hover:border-black active:bg-black active:border-yellow active:text-yellow"
			>
				<Icon name="mdi:play" />
			</a>
			<a
				href={githubUrl}
				class="w-8 h-8 rounded-full m-1 p-1 bg-yellow border-[2px] border-black hover:bg-yellow hover:border-black active:bg-black active:border-yellow active:text-yellow"
			>
				<Icon name="raphael:github" />
			</a>
		</div>
	</div>

	<div class="grow m-0 h-min border-t-[3px] border-black rounded-b-lg bg-white">
		<div class="relative font-montserrat leading-snug text-left pt-5 pb-2 px-5 space-y-4">
			{ongoing && (
				<div class="absolute top-1 right-1 px-3 py-1 bg-black text-white rounded-md font-semibold">in progress</div>
			)}
			<div>
				<h2 class="font-bayon text-lg">{title}</h2>
				<p>{description}</p>
			</div>
			<div>
				<h3 class="font-bayon">Key takeaways</h3>
				<span>{takeaways.join(' • ')}</span>
			</div>
			<div>
				<h3 class="font-bayon">Built with</h3>
				<p>{tools.join(' • ')}</p>
			</div>
		</div>
	</div>
</div>
