---
import easterEgg1 from "../assets/easter-egg/easter-egg-1.jpg";
import easterEgg2 from "../assets/easter-egg/easter-egg-2.jpg";
import easterEgg3 from "../assets/easter-egg/easter-egg-3.jpg";
import easterEgg4 from "../assets/easter-egg/easter-egg-4.jpg";
import easterEgg5 from "../assets/easter-egg/easter-egg-5.jpg";
import easterEgg6 from "../assets/easter-egg/easter-egg-6.jpg";
import easterEgg7 from "../assets/easter-egg/easter-egg-7.jpg";
import easterEgg8 from "../assets/easter-egg/easter-egg-8.jpg";
import easterEgg9 from "../assets/easter-egg/easter-egg-9.jpg";
import easterEgg10 from "../assets/easter-egg/easter-egg-10.jpg";

import { Icon } from "astro-icon";
---

<dialog
	id="secretModal"
	class="w-full max-w-6xl pt-5 pb-10 bg-[radial-gradient(#E4E4E4_1px,#F2F2F2_0)] bg-[length:5px_5px] bg-repeat border-[3px] border-black backdrop:backdrop-blur-lg"
>
	<div
		class="sticky w-min top-0 right-3 md:right-10 z-50 ml-auto bg-white border-[3px] border-black rounded-full drop-shadow-xl"
	>
		<button
			onclick="
			window.secretModal.close()
			"
			class="w-8 h-8 p-1 m-2 rounded-full bg-yellow border-[2px] border-black active:bg-black active:border-yellow active:text-yellow"
		>
			<Icon name="mdi:close" />
		</button>
	</div>

	<div class="max-w-3xl mx-auto p-5 font-dmMono text-base/tight">
		<div
			class="flex flex-col justify-start gap-5 md:gap-10 border-[3px] border-black p-5 md:p-10 mx-auto bg-white rounded-xl"
		>
			<div class="relative isolate ml-[10px] mb-[10px]">
				<div
					class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] z-[-1]"
				>
				</div>
				<img
					src={easterEgg1}
					alt=""
					class="border-[3px] border-black rounded-xl"
				/>
			</div>

			<p>
				Congrats, dear seeker, you've unraveled the veil,<br /> Behold, my loyal companions, always wagging their tail.
			</p>

			<div class="relative isolate ml-[10px] mb-[10px]">
				<div
					class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] z-[-1]"
				>
				</div>
				<img
					src={easterEgg2}
					alt=""
					class="border-[3px] border-black rounded-xl"
				/>
			</div>

			<p>
				First, meet Havana, so lively and bright,<br /> A sweet tiny aussie, a beacon of light. 
			</p>

			<div class="relative isolate ml-[10px] mb-[10px]">
				<div
					class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] z-[-1]"
				>
				</div>
				<img
					src={easterEgg3}
					alt=""
					class="border-[3px] border-black rounded-xl"
				/>
			</div>

			<p>
				She herds us with love, a shepherd so clear,<br /> A fatty at heart, bring treats and she's near.
			</p>

			<div class="relative isolate ml-[10px] mb-[10px]">
				<div
					class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] z-[-1]"
				>
				</div>
				<img
					src={easterEgg4}
					alt=""
					class="border-[3px] border-black rounded-xl"
				/>
			</div>

			<p>She'll steal your attention, wherever she goes,<br /> With her merle-patterned coat, and her pink-speckled nose.</p>

			<div class="relative isolate ml-[10px] mb-[10px]">
				<div
					class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] z-[-1]"
				>
				</div>
				<img
					src={easterEgg5}
					alt=""
					class="border-[3px] border-black rounded-xl"
				/>
			</div>

			<p>
				And then we have Peony, a goldendoodle, petite,<br /> Named after the flower, as tender and sweet.
			</p>

			<div class="relative isolate ml-[10px] mb-[10px]">
				<div
					class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] z-[-1]"
				>
				</div>
				<img
					src={easterEgg6}
					alt=""
					class="border-[3px] border-black rounded-xl"
				/>
			</div>

			<p>She prances and frolics, in her sun-toasted hair,<br /> With a retriever's spirit, she leaps through the air.</p>

			<div class="relative isolate ml-[10px] mb-[10px]">
				<div
					class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] z-[-1]"
				>
				</div>
				<img
					src={easterEgg7}
					alt=""
					class="border-[3px] border-black rounded-xl"
				/>
			</div>

			<p>
				A little feisty at first, an alleged bundle of fire,<br />  But Peony's a softie, a sweet little liar. 
			</p>

			<div class="relative isolate ml-[10px] mb-[10px]">
				<div
					class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] z-[-1]"
				>
				</div>
				<img
					src={easterEgg8}
					alt=""
					class="border-[3px] border-black rounded-xl"
				/>
			</div>

			<p>
				You've uncovered the secret, my dogs' joyful beat,<br /> I hope you found joy, in this hidden retreat.
			</p>

			<div class="relative isolate ml-[10px] mb-[10px]">
				<div
					class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] z-[-1]"
				>
				</div>
				<img
					src={easterEgg9}
					alt=""
					class="border-[3px] border-black rounded-xl"
				/>
			</div>

			<p>
				I thank you for joining me, on this digital stroll,<br /> Exploring my work, and a glimpse of my soul.
			</p>

		
			<div class="relative isolate ml-[10px] mb-[10px]">
				<div
					class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] z-[-1]"
				>
				</div>
				<img
					src={easterEgg10}
					alt=""
					class="border-[3px] border-black rounded-xl"
				/>
			</div>

			<p>
				'till we meet again, whenever that may be,<br /> Peace out for now, yours truly, and ChatGPT.
			</p>

			<p class="text-center">
				- jon
			</p>
		</div>
	</div>
</dialog>
