---
import placeholder from '../assets/placeholder.png';
import { Icon } from 'astro-icon';
---
<dialog
	id="secretModal"
	class="w-full max-w-6xl pt-5 pb-10 bg-[radial-gradient(E4E4E4_1px,#F2F2F2_0)] bg-[length:5px_5px] bg-repeat border-[3px] border-black backdrop:backdrop-blur-lg"
>
	<div
		class="sticky w-min top-0 right-3 md:right-10 z-50 ml-auto bg-white border-[3px] border-black rounded-full drop-shadow-xl"
	>
		<button
			onclick="
			window.secretModal.close()
			"
			class="w-8 h-8 p-1 m-2 rounded-full bg-yellow border-[2px] border-black active:bg-black active:border-yellow active:text-yellow"
		>
			<Icon name="mdi:close" />
		</button>
	</div>

	<div class="max-w-3xl mx-auto p-5 font-dmMono text-base/tight">

		<div
			class="flex flex-col justify-start gap-5 md:gap-10 border-[3px] border-black p-5 md:p-10 mx-auto bg-white rounded-xl"
		>
			<div class="relative isolate ml-[10px] mb-[10px]">
				<div
					class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] z-[-1]"
				>
				</div>
				<img
					src={placeholder}
					alt=""
					class="border-[3px] border-black rounded-xl"
				/>
			</div>

			<p>
				Lorem ipsum dolor sit amet,<br /> consectetur adipiscing elit,
			</p>

			<div class="relative isolate ml-[10px] mb-[10px]">
				<div
					class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] z-[-1]"
				>
				</div>
				<img
					src={placeholder}
					alt=""
					class="border-[3px] border-black rounded-xl"
				/>
			</div>

			<p>
				Sed enim ut sem viverra aliquet eget sit,<br /> Lectus quam id leo
				in vitae.
			</p>

			<div class="relative isolate ml-[10px] mb-[10px]">
				<div
					class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] z-[-1]"
				>
				</div>
				<img
					src={placeholder}
					alt=""
					class="border-[3px] border-black rounded-xl"
				/>
			</div>

			<p>
				Turpis massa praesent elementum facilisis.<br /> Leo vel fringilla
				est ullamcorper eget nulla.
			</p>

			<div class="relative isolate ml-[10px] mb-[10px]">
				<div
					class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] z-[-1]"
				>
				</div>
				<img
					src={placeholder}
					alt=""
					class="border-[3px] border-black rounded-xl"
				/>
			</div>

			<p>Adipiscing vitae proin sagittis nisl.<br /> Rhoncus mattis.</p>

			<div class="relative isolate ml-[10px] mb-[10px]">
				<div
					class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] z-[-1]"
				>
				</div>
				<img
					src={placeholder}
					alt=""
					class="border-[3px] border-black rounded-xl"
				/>
			</div>

			<p>
				Eu scelerisque felis imperdiet proi,<br /> Frmentum leo vel orci
				porta.
			</p>

			<div class="relative isolate ml-[10px] mb-[10px]">
				<div
					class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] z-[-1]"
				>
				</div>
				<img
					src={placeholder}
					alt=""
					class="border-[3px] border-black rounded-xl"
				/>
			</div>

			<p>Vitae congue mauris,<br /> Rhoncus aenean vel elt.</p>

			<div class="relative isolate ml-[10px] mb-[10px]">
				<div
					class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] z-[-1]"
				>
				</div>
				<img
					src={placeholder}
					alt=""
					class="border-[3px] border-black rounded-xl"
				/>
			</div>

			<p>
				Ut tortor pretium viverra.<br /> Suspendisse potenti nullam ac.
			</p>

			<div class="relative isolate ml-[10px] mb-[10px]">
				<div
					class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] z-[-1]"
				>
				</div>
				<img
					src={placeholder}
					alt=""
					class="border-[3px] border-black rounded-xl"
				/>
			</div>

			<p>
				Cursus sit amet dictum sit amet.<br /> Elementum eu facilisis sed
				odio morbi.
			</p>
		</div>
	</div>
</dialog>
